Options -Indexes

ErrorDocument 404 http://www.geo2r.com/errors/404page
ErrorDocument 500 http://www.geo2r.com/errors/500page

# BEGIN Cleaning URLs
<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
	
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/administrator/.*
RewriteCond %{REQUEST_URI} !^/administrator$
RewriteRule ^(.*)$ /pages/$1 [NS,L,QSA]
</IfModule>
# END Cleaning URLs

# BEGIN Redirection
Redirect 301 /nos-drones http://www.geo2r.com/presentation
Redirect 301 /presentation/societe http://www.geo2r.com/presentation
Redirect 301 /presentation/materiels http://www.geo2r.com/presentation
Redirect 301 /presentation/reglementation http://www.geo2r.com/presentation
Redirect 301 /formulaire-de-devis http://www.geo2r.com/contact
Redirect 301 /blog-nord-pas-de-calais-picardie/37-nouvelle-parution-mediatique http://www.geo2r.com/actualites
Redirect 301 /blog-nord-pas-de-calais-picardie http://www.geo2r.com/actualites
Redirect 301 /batiments-travaux-publics/40-integration-3d http://www.geo2r.com/services/integration3d
Redirect 301 /batiments-travaux-publics/reconstitution-3d http://www.geo2r.com/services/modelisation3d
Redirect 301 /batiments-travaux-publics/analyse-thermique-des-batiments-et-detection-d-infiltration http://www.geo2r.com/services/inspection
Redirect 301 /batiments-travaux-publics/suivi-de-chantier http://www.geo2r.com/services/inspection
Redirect 301 /batiments-travaux-publics/inspection-ouvrages-batiments http://www.geo2r.com/services/inspection
Redirect 301 /industrie/cartographie-de-site-industriel http://www.geo2r.com/services/cartographie
Redirect 301 /industrie/20-secteur-minier http://www.geo2r.com/services/cartographie
Redirect 301 /industrie/reconstitution-en-3d http://www.geo2r.com/services/modelisation3d
Redirect 301 /industrie/inspection-thermique http://www.geo2r.com/services/inspection
Redirect 301 /industrie/inspection-site-industriel http://www.geo2r.com/services/inspection
Redirect 301 /energie/parc-photovoltaique http://www.geo2r.com/services/inspection
Redirect 301 /energie/parc-eolien http://www.geo2r.com/services/inspection
Redirect 301 /energie/suivi-de-chantier-photovoltaique-ou-eolien http://www.geo2r.com/services/inspection
Redirect 301 /urbanisme-collectivite/inspection-infrastructure http://www.geo2r.com/services/inspection
Redirect 301 /urbanisme-collectivite/cartographie-2d-3d http://www.geo2r.com/services/cartographie
Redirect 301 /urbanisme-collectivite/manifestation-evenementiel-communication http://www.geo2r.com/services/audiovisuel
Redirect 301 /communication/audiovisuel http://www.geo2r.com/services/audiovisuel
Redirect 301 /communication/inspection-site-industriel http://www.geo2r.com/services/audiovisuel
Redirect 301 /agriculture/degats-gibiers http://www.geo2r.com/services/inspection
Redirect 301 /agriculture/cartes-de-biomasse http://www.geo2r.com/services/cartographie
Redirect 301 /services/travaux-publics http://www.geo2r.com/
Redirect 301 /services/industrie http://www.geo2r.com/
Redirect 301 /services/energie http://www.geo2r.com/
Redirect 301 /services/urbanisme http://www.geo2r.com/
Redirect 301 /services/communication http://www.geo2r.com/services/audiovisuel
Redirect 301 /services/agriculture http://www.geo2r.com/
# END Redirection

# BEGIN Adding Types
AddType video/ogg  .ogv
AddType video/mp4  .mp4
AddType video/webm .webm
# END Adding Types
