#AuthType Basic
#AuthName "Restricted Content"
#AuthUserFile /www/tmp/.htpasswd
#Require valid-user 

AuthUserFile /home/georcomogd/www/.htpasswd
AuthGroupFile /dev/null
AuthName "Acces Restreint : site en developpement"
AuthType Basic
require valid-user



