/** Content PAGE CONTACT */
.container {
  overflow: auto;
}

.centered {
  text-align: center;
}

.middle-bar {
  border-left: solid 1px var(--main-orange);
  margin-top: 3em;
  margin-bottom: 3em;
}

.row .centered iframe {
  width: 85%;
  height: 100%;
  vertical-align: middle;
}

h2 {
  text-align: center;
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--main-orange);
}

.container ul {
  list-style: none;
  padding-left: 20%;
  padding-right: 0;
}

.container ul li {
  line-height: 2.3em;
  font-size: 0.9em;
}

.icone {
  width: 8%;
  height: auto;
  margin-right: 1em;
}

.center-content {
  width: 100%;
  float: left;
  margin-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

.center-content .col-lg-4.cross-bar, .col-md-4.cross-bar {
  border-top: solid 1px var(--main-orange);
  margin-top: 1.5em;
}

.center-content .form-row {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.center-content p {
  text-align: center;
}

.center-content .btn-orange {
  margin-top: 1.5em;
  background-color: var(--main-orange);
  color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  iframe {
    width: 100%
  }

  .center-content {
    margin-top: 1em !important;
  }

  .middle-bar {
    border-left: solid 1px var(--main-orange);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .icone {
    width: 10%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  iframe {
    width: 22em;
    height: 13em;
  }

  .container ul {
    padding-left: 6em !important;
  }

  .center-content {
    margin-top: 1em !important;
  }

  .middle-bar {
    border-left: 0 !important;
  }
}


@media only screen and (min-width: 300px) and (max-width: 500px) {
  iframe {
    width: 17em;
    height: 11em;
  }

  .middle-bar {
    border-left: 0 !important;
  }

  .container ul {
    padding-left: 1em !important;
  }

  #rc-imageselect,
  .g-recaptcha {
      transform:scale(0.70);
      transform-origin:0;
      transform:scale(0.70);
      transform-origin:0 0;
      -webkit-transform:scale(0.70);
      transform:scale(0.70);
      -webkit-transform-origin:0 0;
      transform-origin:0 0;
  }

}
