:root {
  --main-dark: #3d3d3d;
  --main-orange: #f4712d;
  --main-light-orange: #f9ae85;
  --main-black: #212529;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0rem;
  margin-bottom: 2rem !important;
  font-weight: 500;
  line-height: 3rem;
  color: var(--main-orange);
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--main-light-orange);
}

.bg-black {
  margin-top: 7em;
  background-color: #3b4041;
  margin-bottom: 1em;
}

.bg-black img {
  width: 54%;
  position: relative;
  z-index: 1000;
  margin-top: -5em;
  margin-left: 20%;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  height: 25em;
}

/* Hide the images by default */
.slideshow-container .mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.slideshow-container .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: var(--main-light-orange) !important;
}

/* Caption text */
.slideshow-container .text {
  color: var(--main-orange);
  font-size: 1em;
  position: absolute;
  padding: 0.3em 0;
  bottom: 2em;
  width: 14%;
  text-align: center;
  margin-left: 43%;
  background-color: var(--main-dark);
}

.slideshow-container .text a {
  color: inherit;
}

/* Number text (1/3 etc) */
.slideshow-container .numbertext {
  color: var(--main-light-orange);
  font-size: 0.9em;
  position: relative;
  width: 6%;
  margin-left: 47%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot-container {
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 1em;
}

.dot-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-container .active, .dot:hover {
  background-color: var(--main-light-orange);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .slideshow-container img {
    height: 20em;
  }

  .slideshow-container .text {
    font-size: 0.9em;
    width: 14%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .slideshow-container img {
    height: 13em;
  }

  .slideshow-container .text {
    font-size: 0.8em;
    width: 18%;
    margin-left: 41%;
  }

  .slideshow-container .numbertext {
    font-size: 0.7em;
    width: 10%;
    margin-left: 45%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .slideshow-container img {
    height: 10em;
  }

  .slideshow-container .text {
    font-size: 0.7em;
    width: 16%;
    margin-left: 42%;
  }

  .slideshow-container .numbertext {
    font-size: 0.6em;
    width: 8%;
    margin-left: 46%;
  }
}
