/** Content PAGE PRESENTATION */
.container {
  overflow: hidden;
  text-align: justify;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--main-orange);
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--main-light-orange);
}

.centered {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.section {
  margin-bottom: 3em;
}

/** Section Societe */
.content img {
  margin: auto;
  width: 35%;
  margin-top: 2em;
}

.content ul {
  list-style-type: circle;
}

/** Section Equipe */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-container ul {
  list-style: none;
  padding-left: 0 !important;
}

.box {
  min-width: 300px;
  flex: 1 0 200px;
  text-align: center;
  margin: 0 1em 0 1em;
}

.portrait {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.portrait ul {
  list-style-type: none;
  padding-left: 0;
}

.portrait ul li {
  padding-top: 0.2em;
  margin-bottom: 0.5em;
  border-top: dotted 1px var(--main-light-orange);
}

.portrait ul li.orange {
  color: var(--main-orange);
  margin-left: 25%;
  margin-right: 25%;
  border-top: 0;
}

.portrait img {
  width: 50%;
  height: auto;
  margin-top: 1em;
  border-radius: 15%;
}

.portrait .link-orange {
  margin-top: 1.5em;
  background-color: var(--main-orange);
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
}

.portrait .link-orange:hover {
  text-decoration: none !important;
  background-color: white;
  color: var(--main-orange);
  border: solid 1px var(--main-orange);
}
/* ------ */


/** CROSSBAR */
.col-lg-4.cross-bar, .col-md-4.cross-bar {
  border-top: solid 1px var(--main-orange);
  margin-top: 1.5em;
  padding-left: 0em !important;
  padding-right: 0em !important;
}

.cross-bar.left {
  margin-left: 3em !important;
}

.cross-bar.right {
  margin-right: 3em !important;
}

.col-lg-4.center, .col-md-4.center {
  margin-left: -3em !important;
  margin-right: -3em !important;
}
/** ------- */

#toBeHidden {
  visibility: hidden;
  padding-top: 5em;
}

.banniere {
  height: 5em;
}

.banniere img {
  width: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .col-lg-4.center, .col-md-4.center {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  .cross-bar.left {
    margin-left: 0em !important;
  }

  .cross-bar.right {
    margin-right: 0em !important;
  }

  .box {
    margin-top: 2em !important;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .col-lg-4.center, .col-md-4.center {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }

  .box {
    margin-top: 2em !important;
  }
}


@media only screen and (min-width: 300px) and (max-width: 500px) {
  .col-lg-4.center, .col-md-4.center {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }

  .box {
    margin-top: 2em !important;
  }
}
