:root {
  --main-dark: #3d3d3d;
  --main-orange: #f4712d;
  --main-light-orange: #f9ae85;
  --main-black: #212529;
}

h2 {
  color: var(--main-orange);
  font-size: 1.1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 700;
  line-height: 2em;
}

h3 {
  color: var(--main-light-orange);
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 700;
  line-height: 1.5em;
}

h4 {
  font-size: 1rem;
  color: var(--main-black);
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.icone {
  width: 4em;
  height: 4em;
  margin: auto;
}

.centered {
  text-align: center;
}

.centered p {
  color: var(--main-orange);
  font-size: 0.8em;
  margin: auto;
}

.justified {
  text-align: justify;
}

.content iframe {
  float: left;
  margin-bottom: 2em;
  width: 100%;
  height: 28.5em;
}

.content img.main-image {
  float: left;
  margin-bottom: 2em;
  width: 100%;
  height: 28.5em;
}

.content img.left {
  float: left;
  margin: 0 1em 0.5em 0;
}

.content img.right {
  float: right;
  margin: 0 0 0.5em 1em;
}

.crossbar-bot {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 25%;
  margin-right: 25%;
  border-bottom: solid 1px var(--main-orange);
}

.container ul {
  list-style: none;
  padding-right: 0em;
  padding-left: 0em;
}

.container ul li {
  line-height: 2.3em;
  font-size: 1.05em;
  margin-right: 2em;
  padding-right: 1em;
  border-bottom: solid 1px var(--main-light-orange);
}

.container ul a {
  color: var(--main-black);
}

.container ul a.active {
  color: var(--main-orange);
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lateral-menu {
    left: auto;
    background-color: transparent;
    transition: 0.3s;
    position: fixed;
    top: 40%;
    margin-bottom: 60px;
    transform: translateY(-50%);
    height: 0;
    z-index: 1;
}

.fixedContainer {
    position: fixed;
    top: 37%;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .lateral-menu {
    display: none;
  }

  .fixedContainer {
      display: none !important;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .lateral-menu {
    display: none;
  }

  .fixedContainer {
      display: none !important;
  }
}


@media only screen and (min-width: 300px) and (max-width: 500px) {
  .lateral-menu {
    display: none;
  }

  .fixedContainer {
      display: none !important;
  }
}
