h2 {
  color: var(--main-orange);
  font-size: 1.1rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 2em;
}

h3 {
  color: var(--main-light-orange);
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 700;
  line-height: 1.5em;
}

h4 {
  font-size: 1rem;
  color: var(--main-black);
  margin: auto;
}

/* 4 IMAGES */
.icone {
  width: 4em;
  height: 4em;
  margin: auto;
}

.centered {
  text-align: center;
  display: inline-block;
}

.centered p {
  color: var(--main-orange);
  font-size: 0.8em;
  margin: auto;
}

.justified {
  text-align: justify;
}
/* -- */

/* Contenu principal */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
  margin-bottom: 2em;
  background: url(https://static.wixstatic.com/media/15a93c_32a6a05d3d594d599ad4b2b12d9378b2~mv2.gif) center center no-repeat;
  background-size: 15%;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.pictures .half {
  width: 98%;
  overflow: hidden;
}

.pictures .main-image {
  max-width: 100%;
  height: auto;
  flex: 1 1 auto;
}

.content img.left {
  float: left;
  margin: 0 1em 0 0;
  max-width: 40%;
  min-width: 20%;
}

.content img.right {
  float: right;
  margin: 0 0 0 1em;
  max-width: 40%;
  min-width: 50%;
}

.paragraph {
  margin-bottom: 2em;
  margin-top: 1em;
}

.paragraph.text-center {
  text-align: center;
}

.paragraph.text-center p {
  font-weight: 500;
  text-align: center;
}

.paragraph::after {
  content: "";
  clear: both;
  display: table;
}


.crossbar-bot {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 25%;
  margin-right: 25%;
  border-bottom: solid 1px var(--main-orange);
}

/** SECTEURS */
.col {
  border-left: dotted 1px var(--main-light-orange);
  border-right: dotted 1px var(--main-light-orange);
}

.col p {
  margin-bottom: 0 !important;
}


/* MENU LATERAL */
.fixedContainer ul {
  list-style: none;
  padding-right: 0em;
  padding-left: 0em;
}

.fixedContainer ul li {
  line-height: 2.3em;
  font-size: 1.05em;
  margin-right: 2em;
  padding-right: 1em;
  border-bottom: solid 1px var(--main-light-orange);
}

.fixedContainer ul a {
  color: var(--main-black);
}

.fixedContainer ul a.active {
  color: var(--main-orange);
}

.vertical-align {
  display: flex;
  flex-direction: row;
  height: 3em;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lateral-menu {
    left: auto;
    background-color: transparent;
    transition: 0.3s;
    position: fixed;
    top: 40%;
    margin-bottom: 60px;
    transform: translateY(-50%);
    height: 0;
    z-index: 1;
}

.fixedContainer {
    position: fixed;
    top: 37%;
}
/* --- */

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .lateral-menu {
    display: none;
  }

  .fixedContainer {
      display: none !important;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .lateral-menu {
    display: none;
  }

  .fixedContainer {
      display: none !important;
  }

  .pictures {
    flex-direction: column !important;
  }

  .content img.left {
    float: none !important;
    max-width: 60% !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
    margin-bottom: 1em !important;
  }

  .content img.right {
    float: none !important;
    max-width: 60% !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
    margin-bottom: 1em !important;
  }
}


@media only screen and (min-width: 300px) and (max-width: 500px) {
  .lateral-menu {
    display: none;
  }

  .fixedContainer {
      display: none !important;
  }

  .pictures {
    flex-direction: column !important;
  }

  .content img.left {
    float: none !important;
    max-width: 70% !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-bottom: 1em !important;
  }

  .content img.right {
    float: none !important;
    max-width: 70% !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-bottom: 1em !important;
  }
}
